.jumbotron{
    padding:5px;
    margin:0px;
    border:0.5px black solid;
    border-bottom: none;
}
#border{
    border:0.5px black solid;
    background-color:#E9ECEF;
}
.btn{
    background-color:#6C757D;
    color: white;
}
.search{
    margin-top:18px;
}